
.container{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    padding: 3rem;
    color:#ffffff
}

.container-left{
    font-size: 70px;
}

.container-right{
    display:flex;
    background-color: rgb(16, 16, 16);
}

.page-title{
    display:block;
    background-color: black;
    width: 700px;
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.package-img{
    display: block;
    width: 400px;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.text-box1{
    display: block;
    background-color: black;
    width: 700px;
    height: 550px;
    padding: 30px 40px;
    margin: 2rem;
    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
    color: white;
}

.text-box2{
    display: block;
    background-color: black;
    width: 700px;
    height: 550px;
    padding: 30px 40px;
    margin: 2rem;
    text-align: center;
    align-content: center;
    font-size: 18px;
    line-height: 1.2em;
    color: white;
}

.box-title{
    font-size: 28px;
    margin-bottom: 1.4rem;
}

.infomation-box{
    display:block;
    width: 260px;
    height: 150px;
    margin-top: 2rem;
    font-size: 27px;
    line-height: 1.3em;
    color: white;
    text-align: center;
    margin-left: 4rem;
}

.schedule{
    display: block;
    margin-top: 1rem;
}

.days{
    font-size: 18px;
}
.horizontal-line{
    width: 80px; 
    height: 1px; 
    background-color: #ffffff; 
    margin: 1.5rem 89px
}

.horizontal-line2{
    width: 90px; 
    height: 1px; 
    background-color: #ffffff; 
    margin: 1rem 158px
}

.modal{
    background-color: rgb(16, 16, 16);
    height: 41rem;
    width: 70rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 9;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
    display: none;
}

#modal-overlay{
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.296);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 8;
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#modal-overlay.active{
    opacity: 1;
    pointer-events: all;
    display: none;
}

#close-button{
    position: fixed;
    bottom: 5%;
    right: 21%;
    background-color: white;
    height: 50px;
    width: 150px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-left: 0rem;
    font-family: sans-serif;
    z-index: 9;
    transform: scale(0);
    transition: 200ms ease-in-out;
}

#close-button.active{
    transform: scale(1);
    display: none;
}

#modal-note{
    display: block;
    position: fixed;
    bottom: 5%;
    right: 32%;
    color: #ffffffd5;
    font:20px;
    transform: scale(0);
}

#modal-note.active{
    transform: scale(1);
    display: none;
}