.title-list{
    font-size: 30px;
    padding-left: 6rem; /* Add padding to make space for the icon */
    background-repeat: no-repeat; /* Prevent icon from repeating */
    background-position: left center; /* Set the position of the icon */
    margin-bottom: 5px; /* Adjust as needed */
    list-style-type: decimal;

 }

 
 .title-list li:nth-child(1) {
    content: icon;
  }
 .title-list li:nth-child(2) {
     margin-top: 1rem;
     /* list-style-image: ; */
   }
   .title-list li:nth-child(3) {
    margin-top: 1rem;
    /* list-style-image: ; */
  }
 
 #list-grid{
     display: grid;
     background-color: rgb(31, 31, 31);
     grid-template-columns: repeat(2, minmax(250px, 1fr));
     color: white;
     padding: 5rem;
 }
 
 .list-text{
     font-size: 18px;
 }

 #list-img{
    display: block;
    height: 80%;
    width: 100%;
    margin-top: 7rem;
    margin-left: 2rem;
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.592);
 }

 #list-heading{
    font-size: 70px;
 }

 